:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --third-font: : "Oleo Script", sans-serif;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

/* ============= COMPONENTS ============= */
.suptitle {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */
.logo-header-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-header-studio {
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.mail-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);}
/* ============= END HEADER ============= */

/* ============= HERO STUDIO ============= */
.hero-studio {
background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.modal-btn {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
cursor: pointer;
}
/* ============= END HERO STUDIO ============= */

/* ============= ADVANAGES ============= */
.advantages-list-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.advantages-list-description {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/* ============= END ADVANAGES ============= */

/* ============= MAKE ============= */
/* ============= END MAKE ============= */

/* ============= TEAM ============= */
.team-list-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team-list-description {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/* ============= END TEAM ============= */

/* ============= HERO PORTFOLIO ============= */
.filter-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background-color: #F5F4FA;
cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: #FFFFFF;
    background-color: var(--accent-color);}
/* ============= END HERO PORTFOLIO ============= */

/* ============= PORTFOLIO ============= */
.portfolio-list-title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-list-description {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}
/* ============= END PORTFOLIO ============= */

/* ============= FOOTER ============= */
.footer {
background-color: #2F303A;
}
.logo-footer-web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-footer-studio {
  font-family: var(--third-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  }
.address-list-item-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.address-list-item-mail {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.address-list-item-tel {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
/* ============= END FOOTER ============= */
